<h1>Search Results</h1>
<% if @players.length != 0 %>
<h2>Jugadores</h2>
<ul>
  <% @players.each do |grant| %>
	  <li><%= link_to grant.name, player_path(grant), 
	    :action => 'show'  %></li>
  <% end %>
</ul>
<% end %>
<% if @teams.length != 0 %>
<h2>Teams</h2>
<ul>
  <% @teams.each do |grant| %>
	  <li><%= link_to grant.name, team_path(grant), 
	    :action => 'show'  %> (<%=grant.get_current_tournament.league.name  %>)</li>
  <% end %>
</ul>
<% end %>