
<h1>Ultimas Noticias!</h1>
<div class="row">
<% if !@articles.blank? %>
  <% for article in @articles %>
        <div class="col-lg-4">
          <img class="img-square" src=<%= article.thumbnail %> alt="Generic placeholder image" width="140" height="140">
          <h2><%= link_to article.title, article %></h2>
        </div><!-- /.col-lg-4 -->
 <% end %>
<% else %>
  
<% end %>
      </div>





<br>

<%= link_to 'New Article', new_article_path %>
